h1{
    text-align: center;
}
main{
    text-align: center;
}
select:required:invalid {
    color: gray;
  }

option[value=""][disabled] {
    display: none;
  }
option {
    color: black;
  }

::placeholder{
    text-align: left;
}